body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
}

main {
    padding: 20px;
}

.card-link {
    display: block;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card-link:hover {
    background-color: #0056b3;
}

.btn-secondary {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #218838;
}
